[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
black = "*"
pydantic = {extras = ["email"], version = "*"}
pylint = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.10"
